<!-- <app-menu></app-menu> -->
<!-- <div>{{message}}</div> -->
<form>
    <fieldset>
        <legend><h3>Employee Details</h3></legend>
        
            <table>
                <tr>
                    <td>Employee Id:</td>
                    <td><input type="text"id="empid" name="empid"  [(ngModel)]="data.empid" placeholder="Enter id"></td>
                </tr>

                <tr>
                    <td>Email Id:</td>
                    <td><input type="text" id="emailId" [(ngModel)]="data.emailId" name="emailId" placeholder="Enter Email Id"></td>
                </tr>

                <tr>
                    <td>First Name:</td>
                    <td><input type="text" id="firstname" [(ngModel)]="data.firstname" name="firstname" placeholder="Enter First Name"></td>
                </tr>

                <tr>
                    <td>Last Name:</td>
                    <td><input type="text" id="lastname" name="lastname" [(ngModel)]="data.lastname" placeholder="Enter Last Name"></td>
                </tr>

                <tr>
                    <td>DOB:</td>
                    <td><input type="text" id="dob" name="dob" [(ngModel)]="data.dob" placeholder="DD/MM/YYYY"></td>
                </tr>

                <tr>
                    <td>City:</td>
                    <td><input type="text" id="city" name="city" [(ngModel)]="data.city" placeholder="Enter City"></td>
                </tr>

                <tr>
                    <td>DOJ:</td>
                    <td><input type="text" id="doj" name="doj" [(ngModel)]="data.doj" placeholder="DD/MM/YYYY"></td>
                </tr>

                <tr><td><input type="button" value="Register" (click)="registerNow()"></td></tr>
            </table>
    </fieldset>
</form>