<!-- <div>
    {{message}}
</div> -->

<form>
    <fieldset>
        <legend><h3>Login</h3></legend>
    <table>
        <tbody>
            <tr>
                <td>Enter Admin Id:</td>
                <td><input type="text" name="adminId" [(ngModel)]="adminId" placeholder="Enter Admin Id"></td>
            </tr>
            <tr>
                <td>Enter Password:</td>
                <td><input type="password" name="password" [(ngModel)]="password" placeholder="Enter password"></td>
            </tr>
        </tbody>
    
    <div>
        <input type="button" value="Login" (click)="authenticateNow()">
    </div>
</table>
</fieldset>
</form>

